* {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(33, 33, 33);
}

.title {
    margin: 3% auto;
}

.title header h1 {
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 1px black;
}

.gallery_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8% auto;
}

#prevBtn,
#nextBtn {
    margin: 30px;
    font-size: 40px;
    cursor: pointer;
    color: aliceblue;
}

.gallery {
    width: 1000px;
    height: 250px;
    align-items: center;
    display: flex;
    overflow-x: scroll;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery div {
    overflow: hidden;
    width: 100%;
    height: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px 15px;
    gap: 20px;
    flex: none;
}

.gallery div img {
    width: 100%;
    filter: grayscale(1);
    transition: all ease .2s;
}

.gallery div img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
    border: 2px solid white;
}